name: Publish to Docker Hub

on:
  workflow_dispatch:
  push:
    branches:
      - master
    tags:

jobs:
  test:
    name: Test
    uses: ./.github/workflows/test.yml
  prepare:
    name: Prepare matrix
    runs-on: ubuntu-latest
    needs: test
    outputs:
      matrix: ${{ steps.generate.outputs.matrix }}
    steps:
    - uses: actions/checkout@v6
    - name: Generate matrix
      id: generate
      uses: docker/bake-action/subaction/matrix@v6
      with:
        workdir: ./docker
        target: build
        fields: platforms
  docker:
    name: Build ${{ matrix.platforms }}
    runs-on: ubuntu-latest
    needs: prepare
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJson(needs.prepare.outputs.matrix) }}
    steps:
    - uses: actions/checkout@v6
    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: |
          yozik04/nibe-mqtt
        tags: |
          type=raw,value=latest,enable={{is_default_branch}}
          type=pep440,pattern={{version}}
          type=pep440,pattern={{major}}.{{minor}}
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: yozik04
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
    - name: Build
      uses: docker/bake-action@v6
      with:
        files: |
          ./docker/docker-bake.hcl
          ${{ steps.meta.outputs.bake-file }}
        targets: build
        set: |
          *.platform=${{ matrix.platforms }}
        push: true
